# MODELO
SEED=42
DATA_INPUT_PATH=data/raw
DATA_OUTPUT_PATH=data/processed
EARLY_STOPPING_PATIENCE=5

# DVC / AZURE
AZURE_STORAGE_ACCOUNT=stgtechchallenge
AZURE_CONTAINER_NAME=tech-challenge-f2
AZURE_STORAGE_KEY=

# MLFLOW
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_ARTIFACT_LOCATION=mlflow-artifacts:/

# SERVICE PRINCIPAL
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=