# MODELO
SEED=42
DATA_INPUT_PATH=""
DATA_OUTPUT_PATH=""
EARLY_STOPPING_PATIENCE=5

# MLFLOW (local)
MLFLOW_TRACKING_URI=sqlite:///mlruns/mlflow.db
MLFLOW_ARTIFACT_LOCATION=

# AZURE
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_CONTAINER_NAME=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_KEYVAULT_NAME=