# MODELO
SEED=""
DATA_INPUT_PATH=""
DATA_OUTPUT_PATH=""
EARLY_STOPPING_PATIENCE=""

# DVC
AZURE_STORAGE_ACCOUNT=""
AZURE_STORAGE_KEY=""
AZURE_CONTAINER_NAME=""

# MLFLOW
MLFLOW_TRACKING_URI=""
MLFLOW_ARTIFACT_LOCATION=""

# SERVICE PRINCIPAL
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=